{"configSettings":[{"appID":"SharedServerToken","serverToken":"KYHFKPLWACBTPSE3IMKLISLIRMTSVEGW"},{"appID":"466501506455185","serverToken":"OVDQISTN6NQUO77OSWHRZYUOEFOMK26C"},{"appID":"1679655419310465","serverToken":"TZETJJDT6T56G47ZVFW77GY5PU5K7CFI"},{"appID":"1176282623951697","serverToken":"OUTA47LA66ZCSOGIQG5ZUKB2PYP6XIAR"},{"appID":"1202007128286411","serverToken":"KYHFKPLWACBTPSE3IMKLISLIRMTSVEGW"}]}